<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE | UTEShop">UTEShop</title>
</head>
<body style="margin: 0; font-family: Arial, sans-serif;">
    <header th:replace="~{fragments/header :: header}"></header>
    
    <main layout:fragment="content" style="padding: 20px;">
    </main>

    <footer style="text-align: center; margin-top: 50px; color: #64748b;">
        Copyright © UTEShop
    </footer>
</body>
</html>